*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  background-color: #000000;
}

/* TODO: body bg color fade */

.container {
  width: 45%;
  min-width: 500px;
  background-color: #ffffff;
  padding: 40px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

/* .container button {} */

.scores {
  margin-bottom: 50px;
  text-align: right;
}

.moves {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.moves button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.results {
  margin-top: 30px;
  text-align: center;
}

.scores, .results {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#result {
  width: 180px;
  padding: 10px 0;
  margin: 30px auto;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#user-choice, #cpu-choice {
  font-weight: 400;
  margin-bottom: 10px;
}

span {
  font-weight: 600;
}


/* .move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin: 5px;
  cursor: pointer;
}

.move-button:hover {
  background-color: #fff;
}

.move-button:active {
  border: 5px solid #228B22;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  font-size: 20px;
  margin-top: 60px;
}

.reset-score-button, .auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
} */
