*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000000;
}

.container {
  width: 45%;
  min-width: 400px;
  background-color: #ffffff;
  padding: 40px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.reset-button:hover {
  color: rgba(247, 7, 7, 0.8);
}

.reset-button {
  border: none;
  background-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

.scores {
  margin-bottom: 50px;
  text-align: right;
}

.moves {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.moves button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.moves button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 0px rgba(255, 255, 255, 0);
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.move-icon {
  color: #ffc107;
}

.results {
  margin-top: 30px;
  text-align: center;
}

.scores, .results, .reset-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#result {
  width: 180px;
  padding: 10px 0;
  margin: 30px auto;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.5px;
}

#user-choice, #cpu-choice {
  font-weight: 400;
  margin-bottom: 10px;
}

span {
  font-weight: 600;
}

.move-icon {
  height: 50px;
}
